.navbar {
  
    background-color: rgb(179, 61, 61);
    
}
.nav {
    font-size: 15px;
 
}
.form-control{
    
    position: relative;
    top: 5px;
}
.btn{
    position: relative;
    top:5px ;
}